*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #ded3d3;
}

.flex-container{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: left;
}
.edit, add{
    width: 23%;
    }

.addFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}
