
    <footer style="position:absolute; bottom:0; width: 100%;" class="mt-auto py-3 bg-dark">
        <div class="container text-light text-center">
            <h3>Campgrounds</h3>
        </div>
    </footer>

</body>


</html>